# Marketing firm prediction for next product
A marketing firm is aiming to be able to predict who will most likely be interested in the purchase of the next advertised product, in the notebook we will perform feaeture engineering to select the best features and also perform hyper parameter tuning on different classififers to determine the one with the highest accuracy

# IMPORTING LIBRARIES AND DATASETS FOR EXPLORATION

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('week3_datasets/train\Marketing_Campaign_Train.csv') #Importing the training dataset
df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,500,1977,Graduation,Together,96876.0,0,0,2013-08-06,79,908,...,2,0,1,1,1,0,0,3,11,1
1,176,1980,2n Cycle,Single,67506.0,0,1,2014-01-02,73,90,...,3,0,0,0,0,0,0,3,11,0
2,9262,1984,2n Cycle,Together,32414.0,0,0,2013-07-04,11,20,...,7,1,0,0,0,0,0,3,11,0
3,5252,1969,Graduation,Divorced,23910.0,1,0,2012-10-26,80,16,...,7,0,0,0,0,0,0,3,11,0
4,4261,1946,PhD,Single,82800.0,0,0,2012-11-24,23,1006,...,3,0,0,1,1,0,0,3,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,6059,1953,PhD,Together,64504.0,1,2,2013-03-04,81,986,...,7,0,0,0,0,0,0,3,11,1
1564,7152,1983,Master,Married,27100.0,1,0,2013-04-05,64,12,...,7,0,0,0,0,0,0,3,11,0
1565,5093,1974,PhD,Divorced,25509.0,1,0,2012-09-18,15,40,...,9,0,0,0,0,0,0,3,11,1
1566,5036,1984,PhD,Single,42710.0,1,0,2012-11-28,38,252,...,6,0,0,0,0,0,0,3,11,0
1567,4066,1978,2n Cycle,Divorced,21282.0,1,0,2014-05-11,76,1,...,6,0,0,0,0,0,0,3,11,0

In [3]:
test_df = pd.read_csv('week3_datasets/test/Marketing_Campaign_Test.csv') #importing the testing dataset
test_df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,1994,1983,Graduation,Married,NaN,1,0,2013-11-15,11,5,...,7,0,0,0,0,0,0,3,11,0
2,8180,1952,Master,Divorced,59354.0,1,1,2013-11-15,53,233,...,6,0,0,0,0,0,0,3,11,0
3,9736,1980,Graduation,Married,41850.0,1,1,2012-12-24,51,53,...,8,0,0,0,0,0,0,3,11,0
4,1993,1949,PhD,Married,58607.0,0,1,2012-12-23,63,867,...,8,0,1,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,4201,1962,Graduation,Single,57967.0,0,1,2013-03-03,39,229,...,5,0,0,0,0,0,0,3,11,0
668,10084,1972,Graduation,Married,24434.0,2,0,2014-05-18,9,3,...,7,0,0,0,0,0,0,3,11,0
669,9817,1970,Master,Single,44802.0,0,0,2012-08-21,71,853,...,8,0,0,0,0,0,0,3,11,0
670,9432,1977,Graduation,Together,666666.0,1,0,2013-06-02,23,9,...,6,0,0,0,0,0,0,3,11,0
671,8372,1974,Graduation,Married,34421.0,1,0,2013-07-01,81,3,...,7,0,0,0,0,0,0,3,11,0

In [4]:
df.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,1568.000000,1568.000000,1556.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,...,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.0,1568.0,1568.000000
mean,5608.586097,1968.935587,52089.928663,0.436862,0.501913,48.708546,307.669643,26.200893,172.030612,37.669005,...,5.255102,0.075893,0.075893,0.070791,0.063138,0.015306,0.009566,3.0,11.0,0.149872
std,3244.691144,12.066887,21423.626945,0.538113,0.545325,28.973106,335.436382,39.652638,230.678576,54.857646,...,2.437994,0.264911,0.264911,0.256557,0.243288,0.122807,0.097370,0.0,0.0,0.357060
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2859.000000,1959.000000,35303.000000,0.000000,0.000000,24.000000,25.000000,1.750000,16.000000,3.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5500.500000,1970.000000,52173.500000,0.000000,0.000000,49.000000,180.000000,8.000000,69.000000,12.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8479.250000,1978.000000,68413.250000,1.000000,1.000000,74.000000,509.000000,32.000000,238.000000,50.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,162397.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

# Feature Engineering

Perfomring feature engineering on the dataset to determine the best features that would be used to train the various algorithms.
This involves changing other types to float or int so as to make training easier.

## Converting the values of Marital_status and Education into columns
Machine Learning should be performed on numerical values, the values in both series are strings, in order to fix this, each value is made a column and assigned a 1 where is occurs on the original series and 0 where it doesn't.

In [5]:
df.Marital_Status.unique() #finiding all unique values in the marital status series

array(['Together', 'Single', 'Divorced', 'Married', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

In [6]:
df['Together'] = (df['Marital_Status'] == 'Together').astype('int') #making every value in the marital status series into its own column where 0 neabs false and 1 means true
df['Single'] = (df['Marital_Status'] == 'Single').astype('int')
df['Divorced'] = (df['Marital_Status'] == 'Divorced').astype('int')
df['Married'] = (df['Marital_Status'] == 'Married').astype('int')
df['Widow'] = (df['Marital_Status'] == 'Widow').astype('int')
df['Alone'] = (df['Marital_Status'] == 'Alone').astype('int')
df['Absurd'] = (df['Marital_Status'] == 'Absurd').astype('int')
df['Yolo'] = (df['Marital_Status'] == 'Yolo').astype('int')

In [7]:
df.Education.unique() #finiding all unique values in the graduation series

array(['Graduation', '2n Cycle', 'PhD', 'Basic', 'Master'], dtype=object)

In [8]:
df['Graduation'] = (df['Education'] == 'Graduation').astype('int') #making each value a column as in marital status
df['2n Cycle'] = (df['Education'] == '2n Cycle').astype('int')
df['PhD'] = (df['Education'] == 'PhD').astype('int')
df['Basic'] = (df['Education'] == 'Basic').astype('int')
df['Master'] = (df['Education'] == 'Master').astype('int')

## Converting the values of Marital_status and Education into columns for the test dataset
to make sure the features in both the training and testing dataset match the same feature engineering is performed on both

In [9]:
test_df['Together'] = (test_df['Marital_Status'] == 'Together').astype('int') #making every value in the marital status series into its own column where 0 neabs false and 1 means true
test_df['Single'] = (test_df['Marital_Status'] == 'Single').astype('int')
test_df['Divorced'] = (test_df['Marital_Status'] == 'Divorced').astype('int')
test_df['Married'] = (test_df['Marital_Status'] == 'Married').astype('int')
test_df['Widow'] = (test_df['Marital_Status'] == 'Widow').astype('int')
test_df['Alone'] = (test_df['Marital_Status'] == 'Alone').astype('int')
test_df['Absurd'] = (test_df['Marital_Status'] == 'Absurd').astype('int')
test_df['Yolo'] = (test_df['Marital_Status'] == 'Yolo').astype('int')

In [10]:
test_df['Graduation'] = (test_df['Education'] == 'Graduation').astype('int') #making each value a column as in marital status
test_df['2n Cycle'] = (test_df['Education'] == '2n Cycle').astype('int')
test_df['PhD'] = (test_df['Education'] == 'PhD').astype('int')
test_df['Basic'] = (test_df['Education'] == 'Basic').astype('int')
test_df['Master'] = (test_df['Education'] == 'Master').astype('int')

In [11]:
test_df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,Married,Widow,Alone,Absurd,Yolo,Graduation,2n Cycle,PhD,Basic,Master
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,0,0,0,0,0,1,0,0,0,0
1,1994,1983,Graduation,Married,NaN,1,0,2013-11-15,11,5,...,1,0,0,0,0,1,0,0,0,0
2,8180,1952,Master,Divorced,59354.0,1,1,2013-11-15,53,233,...,0,0,0,0,0,0,0,0,0,1
3,9736,1980,Graduation,Married,41850.0,1,1,2012-12-24,51,53,...,1,0,0,0,0,1,0,0,0,0
4,1993,1949,PhD,Married,58607.0,0,1,2012-12-23,63,867,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,4201,1962,Graduation,Single,57967.0,0,1,2013-03-03,39,229,...,0,0,0,0,0,1,0,0,0,0
668,10084,1972,Graduation,Married,24434.0,2,0,2014-05-18,9,3,...,1,0,0,0,0,1,0,0,0,0
669,9817,1970,Master,Single,44802.0,0,0,2012-08-21,71,853,...,0,0,0,0,0,0,0,0,0,1
670,9432,1977,Graduation,Together,666666.0,1,0,2013-06-02,23,9,...,0,0,0,0,0,1,0,0,0,0
671,8372,1974,Graduation,Married,34421.0,1,0,2013-07-01,81,3,...,1,0,0,0,0,1,0,0,0,0

## Fixing missing values
The missing values occure in the income column and is a small amount so it can be dropped, the same number of missing values occure in the testing dataset

In [12]:
df.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 12
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
Together                0
Single                  0
Divorced                0
Married                 0
Widow                   0
Alone                   0
Absurd                  0
Yolo                    0
Graduation              0
2n Cycle                0
PhD                     0
Basic                   0
Master                  0
dtype: int64

In [13]:
df = df.dropna()
test_df = test_df.dropna() #dropping missing values in both the training and testing dataset

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1556 entries, 0 to 1567
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1556 non-null   int64
 1   Year_Birth           1556 non-null   int64
 2   Education            1556 non-null   object
 3   Marital_Status       1556 non-null   object
 4   Income               1556 non-null   float64
 5   Kidhome              1556 non-null   int64
 6   Teenhome             1556 non-null   int64
 7   Dt_Customer          1556 non-null   object
 8   Recency              1556 non-null   int64
 9   MntWines             1556 non-null   int64
 10  MntFruits            1556 non-null   int64
 11  MntMeatProducts      1556 non-null   int64
 12  MntFishProducts      1556 non-null   int64
 13  MntSweetProducts     1556 non-null   int64
 14  MntGoldProds         1556 non-null   int64
 15  NumDealsPurchases    1556 non-null   int64
 16  NumWebPurchases      1556 non-null   int64
 17  NumCatalogPurchases  1556 non-null   int64
 18  NumStorePurchases    1556 non-null   int64
 19  NumWebVisitsMonth    1556 non-null   int64
 20  AcceptedCmp3         1556 non-null   int64
 21  AcceptedCmp4         1556 non-null   int64
 22  AcceptedCmp5         1556 non-null   int64
 23  AcceptedCmp1         1556 non-null   int64
 24  AcceptedCmp2         1556 non-null   int64
 25  Complain             1556 non-null   int64
 26  Z_CostContact        1556 non-null   int64
 27  Z_Revenue            1556 non-null   int64
 28  Response             1556 non-null   int64
 29  Together             1556 non-null   int32
 30  Single               1556 non-null   int32
 31  Divorced             1556 non-null   int32
 32  Married              1556 non-null   int32
 33  Widow                1556 non-null   int32
 34  Alone                1556 non-null   int32
 35  Absurd               1556 non-null   int32
 36  Yolo                 1556 non-null   int32
 37  Graduation           1556 non-null   int32
 38  2n Cycle             1556 non-null   int32
 39  PhD                  1556 non-null   int32
 40  Basic                1556 non-null   int32
 41  Master               1556 non-null   int32
dtypes: float64(1), int32(13), int64(25), object(3)
memory usage: 443.7+ KB

## Selecting the best features to go into training
Picking the best features that will increase the accuracy of the training

In [15]:
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response',
       'Together', 'Single', 'Divorced', 'Married', 'Widow', 'Alone', 'Absurd',
       'Yolo', 'Graduation', '2n Cycle', 'PhD', 'Basic', 'Master'],
      dtype='object')

In [16]:
x = df[['Year_Birth','Income', 'Kidhome', # features for the training dataset
       'Teenhome', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue',
       'Together', 'Single', 'Divorced', 'Married', 'Widow', 'Alone', 'Absurd',
       'Yolo', 'Graduation', '2n Cycle', 'PhD', 'Basic', 'Master']]
y = df['Response'] # target for the training dataset

y_test = test_df[['Year_Birth','Income', 'Kidhome', # features for the test dataset
       'Teenhome', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue',
       'Together', 'Single', 'Divorced', 'Married', 'Widow', 'Alone', 'Absurd',
       'Yolo', 'Graduation', '2n Cycle', 'PhD', 'Basic', 'Master']]

y_actual = test_df['Response'] # target for the test dataset

# Training the Model on different Classifiers, checking their accuracy and performing parameter tuning

In [17]:
from sklearn.metrics import accuracy_score

## Decision Tree Classifier 
Using the decision tree classifier for training the dataset

In [18]:
from sklearn.tree import DecisionTreeClassifier

In [19]:
DT_model = DecisionTreeClassifier(max_leaf_nodes=150, max_depth=5) #parameter tuning

In [20]:
DT_model.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': 5,
 'max_features': None,
 'max_leaf_nodes': 150,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'best'}

In [21]:
DT_model.fit(X=x, y=y)

DecisionTreeClassifier(max_depth=5, max_leaf_nodes=150)

In [22]:
DT_predicted = DT_model.predict(y_test)

In [23]:
dt_acu_sc = accuracy_score(y_true=y_actual, y_pred=DT_predicted)
print('The accuracy score for Decision Tree Classifier is {}'.format(dt_acu_sc))

The accuracy score for Decision Tree Classifier is 0.8757575757575757

## Support Vector Machine Classifier 
Using the support vector machine classifier for training the dataset

In [24]:
from sklearn.svm import SVC

In [25]:
SVC_model = SVC(C=10.0, kernel='linear') #parameter tuning

In [26]:
SVC_model.get_params()

{'C': 10.0,
 'break_ties': False,
 'cache_size': 200,
 'class_weight': None,
 'coef0': 0.0,
 'decision_function_shape': 'ovr',
 'degree': 3,
 'gamma': 'scale',
 'kernel': 'linear',
 'max_iter': -1,
 'probability': False,
 'random_state': None,
 'shrinking': True,
 'tol': 0.001,
 'verbose': False}

In [27]:
SVC_model.fit(X=x, y=y)

SVC(C=10.0, kernel='linear')

In [28]:
SVC_predicted = SVC_model.predict(y_test)

In [29]:
svc_acu_sc = accuracy_score(y_true=y_actual, y_pred=SVC_predicted)
print('The accuracy score for Support Vector Machine Classifier is {}'.format(svc_acu_sc))

The accuracy score for Support Vector Machine Classifier is 0.8621212121212121

## K Nearest Neighbor Classifier 
Using the kneighbor classifier for training the dataset

In [30]:
from sklearn.neighbors import KNeighborsClassifier

In [31]:
KNC_model = KNeighborsClassifier(metric='manhattan', n_neighbors=2)

In [32]:
KNC_model.get_params()

{'algorithm': 'auto',
 'leaf_size': 30,
 'metric': 'manhattan',
 'metric_params': None,
 'n_jobs': None,
 'n_neighbors': 2,
 'p': 2,
 'weights': 'uniform'}

In [33]:
KNC_model.fit(X=x, y=y)

KNeighborsClassifier(metric='manhattan', n_neighbors=2)

In [34]:
KNC_predicted = KNC_model.predict(y_test)

In [35]:
knc_acu_sc = accuracy_score(y_true=y_actual, y_pred=KNC_predicted)
print('The accuracy score for KNearest Neighbor Classifier is {}'.format(knc_acu_sc))

The accuracy score for KNearest Neighbor Classifier is 0.8469696969696969

## Naive Bayes Classifier 
Using the naive bayes GaussianNB classifier for training the dataset

In [36]:
from sklearn.naive_bayes import GaussianNB

In [37]:
GNB_model = GaussianNB()

In [38]:
GNB_model.get_params()

{'priors': None, 'var_smoothing': 1e-09}

In [39]:
GNB_model.fit(X=x, y=y)

GaussianNB()

In [40]:
GNB_predicted = GNB_model.predict(y_test)

In [41]:
gnb_acu_sc = accuracy_score(y_true=y_actual, y_pred=GNB_predicted)
print('The accuracy score for Naive Bayes Classifier is {}'.format(gnb_acu_sc))

The accuracy score for Naive Bayes Classifier is 0.793939393939394

## Multilayer Perceptron Classifier 
Using the neural network multilayer perceptron classifier for training the dataset

In [42]:
from sklearn.neural_network import MLPClassifier

In [43]:
MLP_model = MLPClassifier(solver='lbfgs', alpha=1,
                          hidden_layer_sizes=(5, 2), random_state=1, max_iter=9000)

In [44]:
MLP_model.get_params()

{'activation': 'relu',
 'alpha': 1,
 'batch_size': 'auto',
 'beta_1': 0.9,
 'beta_2': 0.999,
 'early_stopping': False,
 'epsilon': 1e-08,
 'hidden_layer_sizes': (5, 2),
 'learning_rate': 'constant',
 'learning_rate_init': 0.001,
 'max_fun': 15000,
 'max_iter': 9000,
 'momentum': 0.9,
 'n_iter_no_change': 10,
 'nesterovs_momentum': True,
 'power_t': 0.5,
 'random_state': 1,
 'shuffle': True,
 'solver': 'lbfgs',
 'tol': 0.0001,
 'validation_fraction': 0.1,
 'verbose': False,
 'warm_start': False}

In [45]:
MLP_model.fit(X=x, y=y)

MLPClassifier(alpha=1, hidden_layer_sizes=(5, 2), max_iter=9000, random_state=1,
              solver='lbfgs')

In [46]:
MLP_predicted = MLP_model.predict(y_test)

In [47]:
mlp_acu_sc = accuracy_score(y_true=y_actual, y_pred=MLP_predicted)
print('The accuracy score for Multilayer Perceptron Classifier is {}'.format(mlp_acu_sc))

The accuracy score for Multilayer Perceptron Classifier is 0.8575757575757575

## Random Forest and Ada Boost Classifier 
Using the ensemble classifiers; random forest and ada boost for training the dataset

In [48]:
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

### RandomForest Classifier

In [49]:
RFC_model = RandomForestClassifier(max_depth=50, n_estimators=100)

In [50]:
RFC_model.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': 50,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [51]:
RFC_model.fit(X=x, y=y)

RandomForestClassifier(max_depth=50)

In [52]:
RFC_predicted = RFC_model.predict(y_test)

In [53]:
rfc_acu_sc = accuracy_score(y_true=y_actual, y_pred=RFC_predicted)
print('The accuracy score for RandomForest Classifier is {}'.format(rfc_acu_sc))

The accuracy score for RandomForest Classifier is 0.8833333333333333

### AdaBoost Classifier

In [54]:
ABC_model = AdaBoostClassifier(learning_rate=2.0)

In [55]:
ABC_model.get_params()

{'algorithm': 'SAMME.R',
 'base_estimator': None,
 'learning_rate': 2.0,
 'n_estimators': 50,
 'random_state': None}

In [56]:
ABC_model.fit(X=x, y=y)

AdaBoostClassifier(learning_rate=2.0)

In [57]:
ABC_predicted = ABC_model.predict(y_test)

In [58]:
abc_acu_sc = accuracy_score(y_true=y_actual, y_pred=ABC_predicted)
print('The accuracy score for AdaBoost Classifier is {}'.format(abc_acu_sc))

The accuracy score for AdaBoost Classifier is 0.8621212121212121

## Gaussian Process Classifier 
Using the Gaussian process classifier for training the dataset

In [59]:
from sklearn.gaussian_process import GaussianProcessClassifier

In [60]:
GPC_model = GaussianProcessClassifier()

In [61]:
GPC_model.get_params()

{'copy_X_train': True,
 'kernel': None,
 'max_iter_predict': 100,
 'multi_class': 'one_vs_rest',
 'n_jobs': None,
 'n_restarts_optimizer': 0,
 'optimizer': 'fmin_l_bfgs_b',
 'random_state': None,
 'warm_start': False}

In [62]:
GPC_model.fit(X=x, y=y)

GaussianProcessClassifier()

In [63]:
GPC_predicted = GPC_model.predict(y_test)

In [64]:
gpc_acu_sc = accuracy_score(y_true=y_actual, y_pred=GPC_predicted)
print('The accuracy score for GaussianProcess Classifier is {}'.format(gpc_acu_sc))

The accuracy score for GaussianProcess Classifier is 0.8590909090909091

# Conclusion

The best performing classifier on the Marketing firm dataset is the RandomForest Classifier with an accuracy score of: 0.88...