In [3]:
pip install RISE --quiet

Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install --upgrade pip --quiet

Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLError(1, '[SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:1123)'))': /simple/pip/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLError(1, '[SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:1123)'))': /simple/pip/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLError(1, '[SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:1123)'))': /simple/pip/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLError(1, '[SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:1123)'))': /simple/pip/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLError(1, '[SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:1123)'))': /simple/pip/

In [35]:
import pandas as pd
import numpy as np

In [27]:
# Converting the txn data into a dataframe and passing the multiple date columns into a single date column
tranx_data = pd.read_csv('txn_data.csv', parse_dates={"dates":['txnYear', 'txnMonth', 'txnDay']})

In [28]:
# Create a tranx_ID column
tranx_data = tranx_data.rename(columns={'Unnamed: 0':'txnID'})
tranx_data.dtypes

dates         datetime64[ns]
txnID                  int64
acct_no               object
status                object
no of txns             int64
dtype: object

In [29]:
# Txn Data doesnot contain any blank data cell -- THERE NO MISSING VALUES 
tranx_data.isnull().sum().sum()

0

In [30]:
# Random sample of te dataset.
tranx_data.sample(10)

            dates   txnID   acct_no      status  no of txns
205606 2020-10-01  205606  4479075m  successful           2
112983 2019-10-22  112983  2992445j  successful           3
20023  2019-08-19   20023  1392882o  successful           3
279571 2020-08-02  279571  5830711o  successful           1
379732 2020-07-21  379732  7675442k  successful           1
199712 2020-05-02  199712  4394504s  successful           1
385271 2020-09-16  385271  7792726s  successful           2
89064  2020-09-12   89064  2532016q  successful           1
192990 2020-08-25  192990  4298012s  successful           1
395749 2020-06-27  395749  7967436r  successful           4

In [34]:
# Drop unneccessary columns
tranx_data2 = tranx_data.drop(columns=['txnID', 'acct_no'], inplace=False)
tranx_data2

            dates      status  no of txns
0      2019-10-29  successful           1
1      2019-11-12      failed           2
2      2019-11-18      failed           1
3      2019-11-27  successful           1
4      2019-12-08      failed           1
...           ...         ...         ...
513242 2020-10-15  successful           2
513243 2020-10-16  successful           1
513244 2020-10-21  successful           2
513245 2020-10-23  successful           2
513246 2020-10-26  successful           1

[513247 rows x 3 columns]

In [62]:
tranx_status_data = pd.pivot_table(tranx_data2, index=['dates'], columns=['status'], values=['no of txns'], aggfunc='sum')

In [61]:
tranx_status_data

           no of txns
status        debited  declined    failed initialized pending successful
dates
2019-05-21        NaN  1.000000  1.028571         NaN     NaN   2.030864
2019-05-22        NaN  1.400000  1.054054    1.000000     NaN   1.924051
2019-05-23        NaN  1.147059  1.223529         NaN     NaN   2.103734
2019-05-24        NaN  1.133333  1.147059    1.000000     NaN   2.209776
2019-05-25        NaN  1.181818  1.072727    1.000000     NaN   2.162946
...               ...       ...       ...         ...     ...        ...
2020-11-01        NaN  1.284211  1.941176    1.000000     NaN   2.779913
2020-11-02        NaN  1.220588  1.378378    1.000000     NaN   3.021363
2020-11-03        NaN  1.362069  1.150000    1.285714     NaN   3.024450
2020-11-04        NaN  1.125000  1.365385    1.000000     NaN   2.926136
2020-11-05        NaN  1.173077  1.766667    1.000000     NaN   2.756718

[524 rows x 6 columns]

In [58]:
tranx_status_data.isnull().sum()

            status
no of txns  debited        515
            declined        17
            failed           7
            initialized    251
            pending        513
            successful       0
dtype: int64

In [66]:
tranx_status_data['weekday'] = pd.DatetimeIndex(tranx_status_data.index).weekday
tranx_status_data['month'] = pd.DatetimeIndex(tranx_status_data.index).month
tranx_status_data['year'] = pd.DatetimeIndex(tranx_status_data.index).year

In [67]:
tranx_status_data

           no of txns                                                weekday  \
status        debited declined failed initialized pending successful
dates
2019-05-21        NaN      5.0   36.0         NaN     NaN      987.0       1
2019-05-22        NaN      7.0   39.0         5.0     NaN      912.0       2
2019-05-23        NaN     78.0  104.0         NaN     NaN     1014.0       3
2019-05-24        NaN     17.0   78.0         3.0     NaN     1085.0       4
2019-05-25        NaN     13.0   59.0         2.0     NaN      969.0       5
...               ...      ...    ...         ...     ...        ...     ...
2020-11-01        NaN    122.0   33.0         1.0     NaN     4484.0       6
2020-11-02        NaN     83.0  204.0         3.0     NaN     8910.0       0
2020-11-03        NaN     79.0   69.0         9.0     NaN     8659.0       1
2020-11-04        NaN     27.0   71.0         5.0     NaN     8240.0       2
2020-11-05        NaN     61.0  106.0         9.0     NaN     7694.0       3

           month  year
status
dates
2019-05-21     5  2019
2019-05-22     5  2019
2019-05-23     5  2019
2019-05-24     5  2019
2019-05-25     5  2019
...          ...   ...
2020-11-01    11  2020
2020-11-02    11  2020
2020-11-03    11  2020
2020-11-04    11  2020
2020-11-05    11  2020

[524 rows x 9 columns]