In [13]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
enrolledApplicants = pd.read_csv("C:/Users/tbuai/Desktop/UNIVEL_DATA_SCIENCE/V_INTERNSHIP/Files/enrolled applicants.csv")
registeredApplicants = pd.read_csv("C:/Users/tbuai/Desktop/UNIVEL_DATA_SCIENCE/V_INTERNSHIP/Files/registered applicants.csv")

DATA WRANGLING

Enrolled

In [3]:
enrolledApplicants.head()

,Unnamed: 0,FIRST NAME,LAST NAME,SOURCE,COURSE,TRACK,GENDER
0,1120,Robert,Mccain,WEBSITE,Full Stack,Weekday,Male
1,2557,Russel,Reagin,Mr Simps,Full Stack,Weekday,Male
2,1682,Barry,Dickson,WEBSITE,Full Stack,Weekday,Male
3,1961,Allen,Williams,Mr Simps,NaN,Weekday,Male
4,295,Brian,Bryon,Social Media,Python For Data Science,Weekend,Male

In [15]:
enrolledApplicants["GENDER"].value_counts()

Male      1611
Female     142
male        12
female       1
Name: GENDER, dtype: int64

In [18]:
enrolledApplicants["GENDER"] = enrolledApplicants["GENDER"].apply(lambda x: x.capitalize())
enrolledApplicants["GENDER"].value_counts()

Male      1623
Female     143
Name: GENDER, dtype: int64

In [20]:
enrolledApplicants["SOURCE"].value_counts()

Social Media    1096
WEBSITE          436
Mr Simps         222
Name: SOURCE, dtype: int64

In [21]:
enrolledApplicants["COURSE"].value_counts()

Full Stack                      310
FullStack                       298
Product Design(UI/UX)           124
Figma Design to Webflow         122
Frontend Web Development        121
Product Design(UI/UX) ONLINE    112
Python For DataScience          102
Product Design                  100
CyberSecurity                    97
Product Management               93
Backend With Python Django       92
Frontend                         88
Python For Data Science          82
Name: COURSE, dtype: int64

In [4]:
registeredApplicants.head()

,Unnamed: 0,FIRST NAME,LAST NAME,SOURCE,COURSE,TRACK,GENDER
0,2373,Brian,May,Social Media,Python For DataScience,Weekend,Male
1,758,Leon,Melvin,Social Media,Product Design(UI/UX),Weekend,Male
2,2287,Juan,Harris,Mr Simps,Product Design(UI/UX),Weekday,Male
3,2480,Gilbert,Denson,Social Media,Figma Design to Webflow,Weekend,Male
4,1359,Larry,Williams,WEBSITE,Python For DataScience,Weekday,Male

In [5]:
enrolledApplicants[["SOURCE","GENDER"]]

            SOURCE GENDER
0          WEBSITE   Male
1         Mr Simps   Male
2          WEBSITE   Male
3         Mr Simps   Male
4     Social Media   Male
...            ...    ...
1761       WEBSITE   Male
1762  Social Media   Male
1763  Social Media   Male
1764  Social Media   Male
1765  Social Media   Male

[1766 rows x 2 columns]

In [8]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.1-py3-none-any.whl (285 kB)
Requirement already satisfied: matplotlib>=2.2 in c:\users\tbuai\appdata\local\programs\python\python38-32\lib\site-packages (from seaborn) (3.3.4)
Requirement already satisfied: numpy>=1.15 in c:\users\tbuai\appdata\local\programs\python\python38-32\lib\site-packages (from seaborn) (1.20.0)
Requirement already satisfied: pandas>=0.23 in c:\users\tbuai\appdata\local\programs\python\python38-32\lib\site-packages (from seaborn) (1.2.2)
Collecting scipy>=1.0
  Downloading scipy-1.6.1-cp38-cp38-win_amd64.whl (32.7 MB)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\tbuai\appdata\local\programs\python\python38-32\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\tbuai\appdata\roaming\python\python38\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\tbuai\appdata\local\programs\python\python38-32\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\tbuai\appdata\local\programs\python\python38-32\lib\site-packages (from matplotlib>=2.2->seaborn) (8.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\tbuai\appdata\local\programs\python\python38-32\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: six in c:\users\tbuai\appdata\roaming\python\python38\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\tbuai\appdata\local\programs\python\python38-32\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)
Installing collected packages: scipy, seaborn
Successfully installed scipy-1.6.1 seaborn-0.11.1

In [10]:
import seaborn as sns