In [46]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

In [47]:
# import data from it's source

enrolledApplicants = pd.read_csv("C:/Users/tbuai/Desktop/UNIVEL_DATA_SCIENCE/V_INTERNSHIP/Files/enrolled applicants.csv")
registeredApplicants = pd.read_csv("C:/Users/tbuai/Desktop/UNIVEL_DATA_SCIENCE/V_INTERNSHIP/Files/registered applicants.csv")

# DATA WRANGLING

##### Enrolled

In [48]:
# the first five records and header of the enrolled applicants dataset

enrolledApplicants.head()

,Unnamed: 0,FIRST NAME,LAST NAME,SOURCE,COURSE,TRACK,GENDER
0,1120,Robert,Mccain,WEBSITE,Full Stack,Weekday,Male
1,2557,Russel,Reagin,Mr Simps,Full Stack,Weekday,Male
2,1682,Barry,Dickson,WEBSITE,Full Stack,Weekday,Male
3,1961,Allen,Williams,Mr Simps,NaN,Weekday,Male
4,295,Brian,Bryon,Social Media,Python For Data Science,Weekend,Male

In [49]:
# rename the first column to "applicantID"

enrolledApplicants = enrolledApplicants.rename(columns = {"Unnamed: 0":"applicantID"})
enrolledApplicants.head()

,applicantID,FIRST NAME,LAST NAME,SOURCE,COURSE,TRACK,GENDER
0,1120,Robert,Mccain,WEBSITE,Full Stack,Weekday,Male
1,2557,Russel,Reagin,Mr Simps,Full Stack,Weekday,Male
2,1682,Barry,Dickson,WEBSITE,Full Stack,Weekday,Male
3,1961,Allen,Williams,Mr Simps,NaN,Weekday,Male
4,295,Brian,Bryon,Social Media,Python For Data Science,Weekend,Male

In [84]:
# subset of enrolled data

subEnrolledApplicants = enrolledApplicants[['applicantID', 'GENDER']]

In [50]:
# counts the unique values of the gender column

enrolledApplicants["GENDER"].value_counts()

Male      1611
Female     142
male        12
female       1
Name: GENDER, dtype: int64

In [51]:
# replaces the "male" and "female" values with "Male" and "Female" respectively

enrolledApplicants["GENDER"] = enrolledApplicants["GENDER"].apply(lambda x: x.capitalize())
enrolledApplicants["GENDER"].value_counts()

Male      1623
Female     143
Name: GENDER, dtype: int64

In [52]:
# counts the unique values of the source column

enrolledApplicants["SOURCE"].value_counts()

Social Media    1096
WEBSITE          436
Mr Simps         222
Name: SOURCE, dtype: int64

In [53]:
# counts the unique values of the track column

enrolledApplicants["TRACK"].value_counts()

Weekday    1131
Weekend     406
ONLINE      229
Name: TRACK, dtype: int64

In [54]:
# counts the unique values of the course column

enrolledApplicants["COURSE"].value_counts()

# In this field, there are values that are the same but represented differently e.g "Full Stack" and "FullStack"

Full Stack                      310
FullStack                       298
Product Design(UI/UX)           124
Figma Design to Webflow         122
Frontend Web Development        121
Product Design(UI/UX) ONLINE    112
Python For DataScience          102
Product Design                  100
CyberSecurity                    97
Product Management               93
Backend With Python Django       92
Frontend                         88
Python For Data Science          82
Name: COURSE, dtype: int64

In [55]:
# unique values in column course

enrolledApplicants["COURSE"].unique()

array(['Full Stack', nan, 'Python For Data Science', 'FullStack',
       'Product Design(UI/UX)', 'Product Management', 'Frontend',
       'Frontend Web Development', 'Figma Design to Webflow',
       'Product Design(UI/UX) ONLINE', 'Product Design',
       'Backend With Python Django', 'CyberSecurity',
       'Python For DataScience'], dtype=object)

In [56]:
# rename values in the column field to ensure data consistency

enrolledApplicants.COURSE = enrolledApplicants.COURSE.replace(['FullStack','Python For DataScience'], ['Full Stack','Python For Data Science'])
enrolledApplicants.COURSE.unique()

array(['Full Stack', nan, 'Python For Data Science',
       'Product Design(UI/UX)', 'Product Management', 'Frontend',
       'Frontend Web Development', 'Figma Design to Webflow',
       'Product Design(UI/UX) ONLINE', 'Product Design',
       'Backend With Python Django', 'CyberSecurity'], dtype=object)

In [82]:
# no of enrolled applicants

noEnrApplicants = enrolledApplicants.GENDER.count()
noEnrApplicants

1766

In [58]:
# no of enrolled applicants that are male

noEnrMaleApplicants = enrolledApplicants[enrolledApplicants.GENDER == "Male"].GENDER.count()
noEnrMaleApplicants

1623

In [59]:
# no of enrolled applicants that are female

noEnrFemaleApplicants = enrolledApplicants[enrolledApplicants.GENDER == "Female"].GENDER.count()
noEnrFemaleApplicants

143

#### Registered

In [60]:
# the first five records and header of the registered applicants dataset

registeredApplicants.head()

,Unnamed: 0,FIRST NAME,LAST NAME,SOURCE,COURSE,TRACK,GENDER
0,2373,Brian,May,Social Media,Python For DataScience,Weekend,Male
1,758,Leon,Melvin,Social Media,Product Design(UI/UX),Weekend,Male
2,2287,Juan,Harris,Mr Simps,Product Design(UI/UX),Weekday,Male
3,2480,Gilbert,Denson,Social Media,Figma Design to Webflow,Weekend,Male
4,1359,Larry,Williams,WEBSITE,Python For DataScience,Weekday,Male

In [61]:
# rename the first column to "applicantID"

registeredApplicants = registeredApplicants.rename(columns = {"Unnamed: 0":"applicantID"})
registeredApplicants.head()

,applicantID,FIRST NAME,LAST NAME,SOURCE,COURSE,TRACK,GENDER
0,2373,Brian,May,Social Media,Python For DataScience,Weekend,Male
1,758,Leon,Melvin,Social Media,Product Design(UI/UX),Weekend,Male
2,2287,Juan,Harris,Mr Simps,Product Design(UI/UX),Weekday,Male
3,2480,Gilbert,Denson,Social Media,Figma Design to Webflow,Weekend,Male
4,1359,Larry,Williams,WEBSITE,Python For DataScience,Weekday,Male

In [86]:
# subset of registered data

subRegisteredApplicants = registeredApplicants[['applicantID', 'GENDER']]

In [62]:
# counts the unique values of the gender column

registeredApplicants["GENDER"].unique()

array(['Male', 'Female', nan, 'male', 'female'], dtype=object)

In [63]:
# replaces the "male" and "female" values with "Male" and "Female" respectively

registeredApplicants.GENDER = registeredApplicants.GENDER.replace(['male','female'], ['Male','Female'])
registeredApplicants.GENDER.unique()

array(['Male', 'Female', nan], dtype=object)

In [64]:
# no of registered applicants

noRegApplicants = registeredApplicants.applicantID.count()
noRegApplicants

3676

In [68]:
# No of registered students with missing gender

noRegApplicantsNullGender = registeredApplicants[registeredApplicants.GENDER.isnull()]['applicantID']
noRegApplicantsNullGender.count()

56

In [72]:
# Check if the 56 applicants with no gender were enrolled

noRegApplicantsNullGender_Enrolled = pd.merge(noRegApplicantsNullGender, enrolledApplicants.applicantID)
noRegApplicantsNullGender_Enrolled.applicantID.count()

# result shows the 56 registered applicants with no gender were enrolled

0

In [79]:
# no of registered applicants that are male

noRegMaleApplicants = registeredApplicants[registeredApplicants.GENDER == "Male"].GENDER.count()
noRegMaleApplicants

2903

In [80]:
# no of registered applicants that are female

noRegFemaleApplicants = registeredApplicants[registeredApplicants.GENDER == "Female"].GENDER.count()
noRegFemaleApplicants

717

### A table containing applicants that registered and were enrolled

In [89]:
# enrolled and registered applicants

RegAndEnrApplicants = pd.merge(subRegisteredApplicants, subEnrolledApplicants)

In [91]:
# no of enrolled and registered applicants

noRegAndEnrApplicant = RegAndEnrApplicants.GENDER.count()
noRegAndEnrApplicant

1766

In [92]:
# no of enrolled and registered applicants that are females

noRegAndEnrApplicant_Female = RegAndEnrApplicants[RegAndEnrApplicants.GENDER == "Female"].GENDER.count()
noRegAndEnrApplicant_Female

143

In [93]:
# no of enrolled and registered applicants that are males

noRegAndEnrApplicant_Male = RegAndEnrApplicants[RegAndEnrApplicants.GENDER == "Male"].GENDER.count()
noRegAndEnrApplicant_Male

1623

### What is the probability that a randomly selected registered female will enrolled in the program?

In [96]:
probRegFemaleIsEnr = noRegAndEnrApplicant_Female/noRegAndEnrApplicant
probRegFemaleIsEnr.round(2)

0.08

### What is the probability that a randomly selected registered female will enrolled in the program?

In [97]:
probRegMaleIsEnr = noRegAndEnrApplicant_Male/noRegAndEnrApplicant
probRegMaleIsEnr.round(2)

0.92

### What is the probability that a registered applicant will eventually enroll in the program?

In [98]:
probApplicantWillEnr = noEnrApplicants/noRegApplicants
probApplicantWillEnr.round(2)

0.48